<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite"
                          culture="neutral"
                          publicKeyToken="db937bc2d44ff139"/>
        <codeBase version="1.0.109.0"
                  href="Db/System.Data.SQLite.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>